a.wp-block-button__link.has-beige-background-color.has-background {
  background-color:  var(--color-primary);
}

a.wp-block-button__link.has-green-background-color.has-background {
  background-color:  var(--color-secondary);
}

a.wp-block-button__link.has-orange-background-color.has-background {
  background-color:  var(--color-tertiary);
}

a.wp-block-button__link.has-red-background-color.has-background {
  background-color:  var(--color-quarternary);
}

a.wp-block-button__link.has-dark-gray-background-color.has-background {
  background-color:  var(--color-info);
}