@use './variables';

main#primary {
  padding: 0 var(--padding-sides);
}

/** Gutenberg block layout styles */
.wp-block-columns {
  padding: 2rem .5rem;
  margin: 0;

  @media screen and (min-width: variables.$breakpoint-min-tablet) {
    padding: 4rem .5rem;
  }
}

.wp-block-column {
  
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}