@use './variables';

main#primary {
  padding: 0;
}

/**
 * Very specific styling for the full-width-image when it's the last section in main
 */

 main div:last-of-type {
  &.wp-block-daniel-full-width-image {
    margin-bottom: 0;
  }
 }