body {
  font-size: var(--font-size-base);
  color: var(--color-text);
  font-family: var(--font-family), Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

p {
  font-size: var(--font-size-base);
  margin-bottom: 1rem;
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: .8;
    text-decoration: underline;
  }
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5wxpr');
  src:  url('../fonts/icomoon.eot?5wxpr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5wxpr') format('truetype'),
    url('../fonts/icomoon.woff?5wxpr') format('woff'),
    url('../fonts/icomoon.svg?5wxpr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-up:before {
  content: "\e901";
}
.icon-chevron-right:before {
  content: "\e902";
}
.icon-chevron-left:before {
  content: "\e903";
}
.icon-chevron-down:before {
  content: "\e904";
}
.icon-hamburger:before {
  content: "\e900";
}
