@use "./variables";
@import "./typography";
@import "./normalize";
@import './layout';
@import "./parts/header";

/* Default properties for mobile devices */
:root {
    /* Font */
    --font-size-base: 1rem; /* 16px */
    --font-size-lg: 1.25rem; /* 20px */
    --font-size-sm: 0.875rem; /* 14px */
    --font-size-xs: 0.75rem; /* 12px */
    --font-family: "Open Sans", sans-serif;

    /* Heading sizes */
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.25rem;
    --font-size-h6: 1rem;

    /* Colors */
    --color-primary: #0056b3; /* Primary color */
    --color-secondary: #6c757d; /* Secondary color */
    --color-success: #28a745; /* Success color */
    --color-info: #17a2b8; /* Info color */
    --color-warning: #ffc107; /* Warning color */
    --color-danger: #dc3545; /* Danger color */
    --color-light: #f8f9fa; /* Light color */
    --color-dark: #343a40; /* Dark color */
    --color-text: #212529; /* Main text color */
    --color-link: var(--color-primary); /* Link color */

    /* Spacing */
    --padding-sides: 1rem;
}

/* Media queries for larger screens */
@media (min-width: variables.$breakpoint-min-tablet) {
    :root {
        /* Adjusted larger font sizes for desktop */
        --font-size-h1: 3rem; /* Larger on desktops */
        --font-size-h2: 2.5rem;
        --font-size-h3: 2.25rem;
        --font-size-h4: 2rem;
        --font-size-h5: 1.75rem;
        --font-size-h6: 1.5rem;
    }
}

body {
    margin: 0;
    padding: 0;
}

#backdrop {
    position: fixed;
    opacity: 0;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;

    .mobile-menu-active & {
        opacity: 1;
        pointer-events: initial;
    }
}

img {
    max-width: 100%;
}
