@use "./variables";
@import "./typography";
@import "./normalize";
@import './layout';
@import './buttons';
@import "./parts/header";
@import "./parts/footer";

/* Default properties for mobile devices */
:root {
    /* Font */
    --font-size-base: 1rem; /* 16px */
    --font-size-lg: 1.25rem; /* 20px */
    --font-size-sm: 0.875rem; /* 14px */
    --font-size-xs: 0.75rem; /* 12px */
    --font-family: "Roboto", sans-serif;
    --heading-font-family: "Poetsen One", sans-serif;

    /* Heading sizes */
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.25rem;
    --font-size-h6: 1rem;

    /* Colors */
    --color-primary: #EFECCA; 
    --color-secondary: #A9CBB7;
    --color-tertiary: #D1B1C8;
    --color-quarternary: #FB4D3D;
    --color-dark: #5E565A;
    --color-success: #28a745;
    --color-info: #17a2b8;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --default: #FFF;
    --color-link: var(--color-primary);
    --color-background: #333;

    /* Spacing */
    --padding-sides: 1rem;
}

/* Media queries for larger screens */
@media (min-width: variables.$breakpoint-min-tablet) {
    :root {
        /* Adjusted larger font sizes for desktop */
        --font-size-h1: 4rem; /* Larger on desktops */
        --font-size-h2: 3rem;
        --font-size-h3: 2rem;
        --font-size-h4: 1.8rem;
        --font-size-h5: 1.5rem;
        --font-size-h6: 1.25rem;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--default);
}

#backdrop {
    position: fixed;
    opacity: 0;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;

    .mobile-menu-active & {
        opacity: 1;
        pointer-events: initial;
    }
}

img {
    max-width: 100%;
}
